.myform {
    background-color: rgb(205, 199, 199);
    padding: 40px;
    width: 20%;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
  }
  
  h3 {
    text-align: center;
  }