.homepage {
    background-color: rgb(142, 156, 231);
    height: 100vh;

}

.message {
    background-color: rgb(19, 138, 19);
    height: 30px;
    width: 700px;
    padding: 30px;
    border-radius: 30px;
    padding: 20px;
    margin-top: 120px;
    margin-left: 320px;

}

h1 {
    margin-top: auto;
}

.apartment-table {
    // margin-left: 200px;
}