
.task-container {
    padding: 20px;
  }
  
  .task-header {
    margin-bottom: 20px;
  }
  
  .task-form-container {
    margin-bottom: 20px;
  }
  
  .task-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .invalid-feedback {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .task-cards-container .card {
    margin-bottom: 10px;
    width: 310px;
  }
  
  .task-actions {
    display: flex;
    gap: 5px;
  }
  
  .days-left {
    color: red;
  }
  .login-text{
    margin-top: 50px;
   text-align: center;
  }

  .task-list {
    padding: 30px;
    margin: 10px;
    border: 1px solid;
  }
  .completed-task {
    padding: 30px;
    margin: 30px;
    border: 1px solid;
    border-color: green;
  }